* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.column {   
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000pt;

}

img {
  padding:20px;
  width: 500pt;
  height: 300pt;
  display: block;
  margin: auto;
  float: left;
  
}

.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}







