@import url('https://fonts.googleapis.com/css?family=Mandali&display=swap');

.navbar-container{
  background: white;
  height: 30pt;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15pt;
  font-family: 'Mandali', sans-serif;
}

.footer-container{
  background:#3d80f7;
  color: white;
  height: 40pt;
  display: flex;
  font-size:15pt;
  font-family: 'Mandali', sans-serif;
  padding: 10pt;
}
#inputinfo{
	text-align: center;
}
.header{
  background:#3d80f7;
  color:white;
  display:flex;
  justify-content: space-evenly;
  font-family: 'Mandali', sans-serif;
  padding: 20pt;
  font-size: 40pt;
}
.reportDes{
  font-size:12pt;
}
.entry{
	display:flex;
}

/*Form Styles*/

.form-style{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 30px;
	background: #F7F7F7;
}

.submit-button{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 150px;
	margin: 10px auto;
	padding: 30px;
	background:#3d80f7;
	text-align: center;
	border-radius: 10pt;
}
.Link{
	color:white;
	text-decoration: none;
	
}
.form-style h1{
	background: #F7F7F7;;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: black;
	margin: -16px -16px 16px -16px;
}
.form-style input[type="text"],
.form-style input[type="number"],
.form-style textarea,
.form-style select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style input[type="text"]:focus,
.form-style input[type="number"]:focus,
.form-style textarea:focus,
.form-style select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style input[type="submit"],
.form-style input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #3d80f7;
	color: #fff;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover{
	background: #2EBC99;
}


/*Dropdown for timezone choice*/
.dropdown {
	position: relative;
}

.summary{
	font-size:20pt;
	padding-top:20pt;
}
.results-page{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 600px;
	margin: 10px auto;
	padding: 30px;
	background: #F7F7F7;
	text-align: center;
}

.title{
	font-size:20pt;
	padding:30pt;
	color:black;
}
.paragraphs{
	font-size:12pt;
	color:darkslategray;
	text-align: justify;
}