*{
    box-sizing: border-box; 
}

.box-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.goomba{
    line-height: 3pt;
    margin: 10pt;
    background-color: white;
    text-align: center;
    width:600pt;
    margin:auto;
}

.bobombs{
    line-height: 3pt;
    margin: 10pt;
    background-color: white;
    text-align: center;
    width:600pt;
    margin:auto;
}
.cheeps{
    line-height: 3pt;
    margin: 10pt;
    background-color: white;
    text-align: center;
    width:600pt;
    margin:auto;
    padding-bottom: 10pt;
}
.footer{
    border-top: 5px black solid;
    padding-top: 30pt;
    padding-bottom: 30pt;
    line-height: 3pt;
    margin: 10pt;
    background-color: white;
    text-align: center;
    width:600pt;
    margin:auto;
}
.header{
    border-top: 5px black solid;
    padding-top: 30pt;
    padding-bottom: 30pt;
    line-height: 3pt;
    margin: 10pt;
    background-color: white;
    text-align: center;
    font-size: 50pt;
    font-family: bernard;
    width:600pt;
    margin:auto;
}
